doctype html
html
  head
    title= '6ow 3id Girl - Official Homepage'
    meta(name='description', content='6ow 3id Girl')
    meta(name='author', content='6ow 3id Girl')
    //- Favicons
    //- link(rel='shortcut icon', href='/images/favicons.ico' type='image/x-icon')
    //- link(rel='apple-touch-icon', href='/images/apple-touch-icon-small.png')
    //- link(rel='apple-touch-icon', size='72x72', href='/images/apple-touch-icon-mid.png')
    //- link(rel='apple-touch-icon', size='114x114', href='/images/apple-touch-icon-large.png')
    //- Bootstrap
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    //- CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/prettyPhoto.css')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300')
    script(type='text/javascript' src='/javascripts/modernizr.custom.js')

  body(id='page-top', data-spy='scroll', data-target='.navbar-fixed-top')
    header(id='header')
      .intro
        .container
          .row
            .intro-text
              h1 #[span.name 6ow 3id Girl]
              p Error, Page Not Found
              a(href='/', class='btn btn-default btn-lg page-scroll') Back to Home
