extends ./layout

block content
  //- News section
  #lives.text-center
    .container
      .section-tile.center
        h2 NEWS
        hr
      .row
        .col-md-12
          .container
            .row
              .col-md-4.col-md-offset-4
                .articles
                  h5
                    |2020/05/24 MEDIA
                  p
                    |マンスリープレイリストに選ばれました！詳しくは #[a(href="https://big-up.style/zine/article/playlist/20200524-6795", target="_blank", rel="noopener noreferrer") こちら] ！
                    br
                    |[NEW] THE PLAYLIST #[a(href="https://big-up.style/zine/article/playlist/20200524-6795", target="_blank", rel="noopener noreferrer") HERE] !!
                .social.center-block
                  ul
                    li #[a(href='https://open.spotify.com/playlist/6fjLP61UyNWCeskHef5auI', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
                    li #[a(href='https://music.apple.com/jp/playlist/big-up-tunes-monthly-may-2020/pl.u-RRbVojVs32rAY4Z', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
          .articles
            hr
            hr
            hr
        .col-md-12
          .container
            .row
              .col-md-4.col-md-offset-4
                .articles
                  h5
                    |2020/05/14 MEDIA
                  p
                    |記事に掲載されました！詳しくは #[a(href="https://big-up.style/zine/article/pickupartist/20200513-6663", target="_blank", rel="noopener noreferrer") こちら] ！
                    br
                    |[NEW] THE ARTICLE #[a(href="https://big-up.style/zine/article/pickupartist/20200513-6663", target="_blank", rel="noopener noreferrer") HERE] !!
                    br
                    br
                    |プレイリストに載りました！詳しくは #[a(href="https://big-up.style/zine/article/playlist/20200514-1119", target="_blank", rel="noopener noreferrer") こちら] ！
                    br
                    |[NEW] THE PLAYLIST #[a(href="https://big-up.style/zine/article/playlist/20200514-1119", target="_blank", rel="noopener noreferrer") HERE] !!
          .articles
            hr
            hr
            hr
        .col-md-12
          .container
            .row
              .col-md-4.col-md-offset-4
                .articles
                  h5
                    |2020/05/14 INSTAGRAM (STORY)
                  p
                    |海外インスタグラマーストーリの BGM に起用されました！詳しくは #[a(href="https://www.instagram.com/albacgfv/?hl=en", target="_blank", rel="noopener noreferrer") こちら] ！
                    br
                    |[NEW] 2ND SINGLE IS PICKED UP #[a(href="https://www.instagram.com/albacgfv/?hl=en", target="_blank", rel="noopener noreferrer") HERE]
          .articles
            hr
            hr
            hr
        .col-md-12
          .container
            .row
              .col-md-4.col-md-offset-4
                .articles
                  h5
                    |2020/05/13 RELEASE
                  p
                    |2ND SINGLE "peko-niko-boo!"
                  .top-news
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/g1EETsO1Xx8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen='')
                  .social
                    br
                    ul
                      li #[a(href='https://open.spotify.com/album/6NoDKe5BcXywPhkuRotqsG?si=8mf1PwEjTCunnYpPe0SZpQ', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
                      li #[a(href='https://music.apple.com/jp/album/peko-niko-boo/1509864476?i=1509864477', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
                      li #[a(href='https://music.line.me/album/mb0000000001bffda4', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
                      li #[a(href='https://music.amazon.co.jp/albums/B087MYD39H', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
                    a(href="https://big-up.style/AckwoT67zb", target="_blank", rel="noopener noreferrer") Other Media

  //- Discography Section
  #discography.text-center
    .container
      .section-title.center
        h2 MUSIC
        hr
      .row
        .col-md-4.col-sm-6
          h4 Whack a mole
          img(src='/images/portfolio/01-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href='https://open.spotify.com/track/5YK2Do5B5gJwW7ue2Budi1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href='https://music.apple.com/jp/album/whack-a-mole/1506539839', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href='https://music.line.me/album/mb0000000001bd1c13', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href='https://music.amazon.co.jp/albums/B086SVQYBM', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/MJV3uKqegi", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 peko-niko-boo!
          img(src='/images/portfolio/02-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href='https://open.spotify.com/album/6NoDKe5BcXywPhkuRotqsG?si=8mf1PwEjTCunnYpPe0SZpQ', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href='https://music.apple.com/jp/album/peko-niko-boo/1509864476?i=1509864477', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href='https://music.line.me/album/mb0000000001bffda4', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href='https://music.amazon.co.jp/albums/B087MYD39H', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/AckwoT67zb", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 Third Release coming soon ... !!
          img(src='/images/coming-soon-lg-rotate.png', class='img-responsive', alt='project title')
      //- .row
      //-   .col-md-4.col-sm-6
      //-     h4 Third Release coming soon ... !!
      //-     img(src='/images/coming-soon-lg-rotate.png', class='img-responsive', alt='project title')

  //- Photo section
  #portfolio
    .container
      .section-title.text-center.center
        h2 YOUTUBE
        hr
      .social.text-center.center
        ul
          li #[a(href='https://www.youtube.com/watch?v=g1EETsO1Xx8&feature=emb_title', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-youtube]]
      .categories
        ul.cat
          li
            ol.type
              li
                a(href='#' data-filter='*', class='active') All
              li
                a(href='#' data-filter='.web') MVs
              li
                a(href='#' data-filter='.app') Others
        .clearfix
      .row
        .portfolio-items
          //- Replace thumbnails for each movie
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://youtu.be/8mE0SY7WW74', title='Released on 2020/04/25', rel='prettyPhoto')
                  .hover-text
                    h4 Whack a mole
                  img(src='/images/portfolio/01-thumb.jpg', class='img-responsive', alt='Whack a mole')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=g1EETsO1Xx8', title='Released on 2020/05/13', rel='prettyPhoto')
                  .hover-text
                    h4 peko-niko-boo!
                  img(src='/images/portfolio/02-thumb.jpg', class='img-responsive', alt='peko-niko-boo!')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/comming-soon-lg-rotate.png', title='Comming-Soon', rel='prettyPhoto')
                  .hover-text
                    h4 Comming Soon ...!!
                  img(src='/images/coming-soon-lg-rotate.png', class='img-responsive', alt='tbd-next-single-name')

  //- Biography Section
  #biography.text-center
    .container
      .section-titile.center
        h2 BIOGRAPHY
        hr
      .row
        .col-md-12.text-center
          h3 6ow 3id girl (ローミッドガール)
          img(class='img-responsive', src='/images/about.jpg')
        .col-md-8.col-md-offset-2
          .about-text
            p.text-center
              |2020年始動。女性ベースシンガーソングライター。
              br
              |ベーシストであり、シンガーソングライター。
              br
              |アレンジ/ミックス/マスタリング/映像編集等を通じ、
              br
              |総合的に世界観を表現する。
              br
              |まだ誰も見たことのない世界へ。
            p.text-center
              |since 2020. Female bass singer-songwriter.
              br
              |She is a bassist and singer-songwriter,
              br
              |and she comprehensively expresses the worldview
              br
              |through arrangement, mixing, mastering, and video editing etc...
              br
              |A new world that you never seen.

  //- //- Shop section
  //- #shop.text-center
  //-   .container
  //-     .section-title.center
  //-       h2 Shop
  //-       hr
      
  //-     .col-md-8.col-md-offset-2
  //-       h3 
  //-         |TBD

  //- Contact section
  //- TODO: Mail to 6ow3idgirl@gmail.com
  #contact.text-center
    .container
      .section-title.center
        h2 CONTACT
        hr
      
      //- .col-md-8.col-md-offset-2
      //-   h3 
      //-     |Get tickets from #[a(href='https://forms.gle/qJMCXeGp9dRbS8nE9') Here]
      .col-md-8.col-md-offset-2
        .social
          ul
            li #[a(href='https://twitter.com/6ow3idgirl', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-twitter]]
            li #[a(href='https://t.co/n3i6Ulx4Gk?amp=1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-instagram]]
            li #[a(href='https://www.facebook.com/6ow3idgirl/', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-facebook]]
            li #[a(href='https://lin.ee/m30atuE', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
        .contact-form
          form(id='contactForm', name='sentMessage', novalidate)
            .row
              .col-md-6
                .form-group
                  input(id='name', class='form-control', type='text', placeholder='YourName', required='required')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  input(id='email', class='form-control', type='email', placeholder='Email', required='required')
                  p.help-block.text-danger
            .form-group
              textarea(id='message', class='form-control', name='message', rows='4', placeholder='Message Here ...', required)
              p.help-block.text-danger
            #success
            button(type='submit', class='btn btn-default') Send Message
