extends ./layout

block content
  //- News section
  #lives.text-center
    .container
      .section-tile.center
        h2 NEWS
        hr
      .row
        .col-md-12
          .container
            .row
              .col-md-4.col-md-offset-4
                .articles
                  h5
                    |2021/01/25 RELEASE
                  p
                    |6TH SINGLE "SWEET DREAMS"
                  .top-news
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/tO99MbnvZE4", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                  .social
                    br
                    ul
                      li #[a(href="https://open.spotify.com/album/1yBTxDxMf8ZHPLFlAJLQIr?si=Rgolyke2RSyXYCMPu-5XaQ&nd=1", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
                      li #[a(href="https://music.apple.com/jp/album/sweet-dreams-single/1548442381?l=jp", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
                      li #[a(href="https://music.line.me/webapp/album/mb0000000001f34439", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
                      li #[a(href="https://music.amazon.co.jp/albums/B08SHCBF7K", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
                    a(href="https://big-up.style/musics/445751", target="_blank", rel="noopener noreferrer") Other Media
          .articles
            hr
            hr
            hr

  //- Discography Section
  #discography.text-center
    .container
      .section-title.center
        h2 MUSIC
        hr
      .row
        .col-md-4.col-sm-6
          h4 Whack a mole
          img(src='/images/portfolio/01-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href='https://open.spotify.com/track/5YK2Do5B5gJwW7ue2Budi1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href='https://music.apple.com/jp/album/whack-a-mole/1506539839', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href='https://music.line.me/album/mb0000000001bd1c13', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href='https://music.amazon.co.jp/albums/B086SVQYBM', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/MJV3uKqegi", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 peko-niko-boo!
          img(src='/images/portfolio/02-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href='https://open.spotify.com/album/6NoDKe5BcXywPhkuRotqsG?si=8mf1PwEjTCunnYpPe0SZpQ', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href='https://music.apple.com/jp/album/peko-niko-boo/1509864476?i=1509864477', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href='https://music.line.me/album/mb0000000001bffda4', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href='https://music.amazon.co.jp/albums/B087MYD39H', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/AckwoT67zb", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 SEQUIN BRANDY
          img(src='/images/portfolio/03-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href="https://open.spotify.com/album/0rLpMX7u2rBTHgOOc1lcns", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href="https://music.apple.com/jp/album/sequin-brandy-single/1513859617", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href="https://music.line.me/album/mb0000000001c5848a?track=mt00000000111b16", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href="https://music.amazon.co.jp/albums/B088RCH5P3", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/ZHB5DIsIsS", target="_blank", rel="noopener noreferrer") Other Media

      .row
        .col-md-4.col-sm-6
          h4 Drowning in Blue
          img(src='/images/portfolio/04-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href="https://open.spotify.com/album/4fZXd8P4tx9ct9Mxsg8vOO?si=I63Re79CSca5srCrS_b52A", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href="https://music.apple.com/jp/album/drowning-in-blue/1518168440?i=1518168441", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href="https://music.line.me/album/mb0000000001cb0bed?track=mt000000001150d765", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href="https://music.amazon.co.jp/albums/B08B4991J8", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/fyLoVMb3jM", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 Sunny Puddle
          img(src='/images/portfolio/05-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href="https://open.spotify.com/album/5CByIiBsjhesmuRWQ6nTTF", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href="https://music.apple.com/jp/album/sunny-puddle-single/1530155633", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href="https://music.line.me/webapp/album/mb0000000001da02d8", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href="https://music.amazon.co.jp/albums/B08H8QCD7P", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/qm0FTyvt4s", target="_blank", rel="noopener noreferrer") Other Media
        .col-md-4.col-sm-6
          h4 SWEET DREAMS
          img(src='/images/portfolio/06-jacket.jpg', class='img-responsive', alt='project title')
          br
          .social
            ul
              li #[a(href="https://open.spotify.com/album/1yBTxDxMf8ZHPLFlAJLQIr?si=Rgolyke2RSyXYCMPu-5XaQ&nd=1", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
              li #[a(href="https://music.apple.com/jp/album/sweet-dreams-single/1548442381?l=jp", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]
              li #[a(href="https://music.line.me/webapp/album/mb0000000001f34439", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
              li #[a(href="https://music.amazon.co.jp/albums/B08SHCBF7K", target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-amazon]]
            a(href="https://big-up.style/musics/445751", target="_blank", rel="noopener noreferrer") Other Media

  //- Photo section
  #portfolio
    .container
      .section-title.text-center.center
        h2 YOUTUBE
        hr
      .social.text-center.center
        ul
          li #[a(href='https://www.youtube.com/channel/UC_vCY6ONyh2STh02OFTdSTA', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-youtube]]
      .categories
        ul.cat
          li
            ol.type
              li
                a(href='#' data-filter='*', class='active') All
              li
                a(href='#' data-filter='.web') MVs
              li
                a(href='#' data-filter='.app') Others
        .clearfix
      .row
        .portfolio-items
          //- Replace thumbnails for each movie
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=8mE0SY7WW74', title='Released on 2020/04/25', rel='prettyPhoto')
                  .hover-text
                    h4 Whack a mole
                  img(src='/images/portfolio/01-thumb.jpg', class='img-responsive', alt='Whack a mole')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=g1EETsO1Xx8', title='Released on 2020/05/13', rel='prettyPhoto')
                  .hover-text
                    h4 peko-niko-boo!
                  img(src='/images/portfolio/02-thumb.jpg', class='img-responsive', alt='peko-niko-boo!')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=Ju6JGnx07DA', title='Released on 2020/06/03', rel='prettyPhoto')
                  .hover-text
                    h4 SEQUIN BRANDY
                  img(src='/images/portfolio/03-thumb.jpg', class='img-responsive', alt='SEQUIN BRANDY')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=I-7JRuPQDIU', title='Released on 2020/07/01', rel='prettyPhoto')
                  .hover-text
                    h4 Drowning in Blue
                  img(src='/images/portfolio/04-thumb.jpg', class='img-responsive', alt='Drowning in Blue')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=4ZJmMxzZKQs', title='Released on 2020/07/01', rel='prettyPhoto')
                  .hover-text
                    h4 Sunny Puddle
                  img(src='/images/portfolio/05-thumb.jpg', class='img-responsive', alt='Drowning in Blue')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=tO99MbnvZE4', title='Released on 2021/01/25', rel='prettyPhoto')
                  .hover-text
                    h4 SWEET DREAMS
                  img(src='/images/portfolio/06-thumb.jpg', class='img-responsive', alt='SWEET DREAMS')


  //- Biography Section
  #biography.text-center
    .container
      .section-titile.center
        h2 BIOGRAPHY
        hr
      .row
        .col-md-12.text-center
          h3 6ow 3id girl (ローミッドガール)
          img(class='img-responsive', src='/images/about.jpg')
        .col-md-8.col-md-offset-2
          .about-text
            p.text-center
              |2020年始動。女性ベースシンガーソングライター。
              br
              |ベーシストであり、シンガーソングライター。
              br
              |アレンジ/ミックス/マスタリング/映像編集等を通じ、
              br
              |総合的に世界観を表現する。
              br
              |まだ誰も見たことのない世界へ。
            p.text-center
              |since 2020. Female bass singer-songwriter.
              br
              |She is a bassist and singer-songwriter,
              br
              |and she comprehensively expresses the worldview
              br
              |through arrangement, mixing, mastering, and video editing etc...
              br
              |A new world that you never seen.

  //- //- Shop section
  //- #shop.text-center
  //-   .container
  //-     .section-title.center
  //-       h2 Shop
  //-       hr
      
  //-     .col-md-8.col-md-offset-2
  //-       h3 
  //-         |TBD

  //- Contact section
  //- TODO: Mail to 6ow3idgirl@gmail.com
  #contact.text-center
    .container
      .section-title.center
        h2 CONTACT
        hr
      
      //- .col-md-8.col-md-offset-2
      //-   h3 
      //-     |Get tickets from #[a(href='https://forms.gle/qJMCXeGp9dRbS8nE9') Here]
      .col-md-8.col-md-offset-2
        .social
          ul
            li #[a(href='https://twitter.com/6ow3idgirl', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-twitter]]
            li #[a(href='https://t.co/n3i6Ulx4Gk?amp=1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-instagram]]
            li #[a(href='https://www.facebook.com/6ow3idgirl/', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-facebook]]
            li #[a(href='https://lin.ee/m30atuE', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-line]]
        .contact-form
          form(id='contactForm', name='sentMessage', novalidate)
            .row
              .col-md-6
                .form-group
                  input(id='name', class='form-control', type='text', placeholder='YourName', required='required')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  input(id='email', class='form-control', type='email', placeholder='Email', required='required')
                  p.help-block.text-danger
            .form-group
              textarea(id='message', class='form-control', name='message', rows='4', placeholder='Message Here ...', required)
              p.help-block.text-danger
            #success
            button(type='submit', class='btn btn-default') Send Message
