doctype html
html
  head
    title= '6ow 3id Girl - Official Homepage'
    meta(name='description', content='6ow 3id Girl')
    meta(name='author', content='6ow 3id Girl')
    //- Favicons
    //- link(rel='shortcut icon', href='/images/favicons.ico' type='image/x-icon')
    //- link(rel='apple-touch-icon', href='/images/apple-touch-icon-small.png')
    //- link(rel='apple-touch-icon', size='72x72', href='/images/apple-touch-icon-mid.png')
    //- link(rel='apple-touch-icon', size='114x114', href='/images/apple-touch-icon-large.png')
    //- Bootstrap
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    //- CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/prettyPhoto.css')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300')
    script(type='text/javascript' src='/javascripts/modernizr.custom.js')

  body(id='page-top', data-spy='scroll', data-target='.navbar-fixed-top')
    header(id='header')
      .intro
        .container
          .row
            .intro-text
              h1 #[span.name 6ow 3id Girl]
              p Offical Website
              a(href='#biography', class='btn btn-default btn-lg page-scroll') View More
      //- Navigation bars
      #nav
        nav.navbar.navbar-custom
          .container
            .navbar-header
              button(class='navbar-toggle', type='button', data-toggle='collapse', data-target='.navbar-main-collapse') #[i.fa.fa-bars]
              a(class='navbar-brand page-scroll', href='#page-top') 6ow 3id Girl
            .collapse.navbar-collapse.navbar-right.navbar-main-collapse
              ul.nav.navbar-nav
                li #[a(class='hidden', href='#page-top')]
                li #[a(class='page-scroll', href='#biography') Biography]
                li #[a(class='page-scroll', href='#discography') Discography]
                li #[a(class='page-scroll', href='#lives') Live/Media]
                li #[a(class='page-scroll', href='#portfolio') Gallary]
                li #[a(class='page-scroll', href='#contact') Contact]

    //- Biography Section
    #biography.text-center
      .container
        .section-titile.center
          h2 Biography
          hr
        .row
          .col-md-12.text-center
            h3 About Me
            img(class='img-responsive', src='/images/about.jpg')
          .col-md-8.col-md-offset-2
            .about-text
              p.text-center
                |6ow 3id Girl Biography
                br
                |Contents here
          .col-lg-12
            h3 Histories
            ul.timeline
              li
                .timeline-image
                  h4 2020/06/10
                .timeline-panel
                  .timeline-heading
                    h4 Boots up
                    h4.subheading First Live
                  .timeline-body
                    p
                      |Descriptions of first live
                      br
                      |messages from roza
              li.timeline-inverted
                .timeline-image
                  h4 2020/06/10
                .timeline-panel
                  .timeline-heading
                    h4 Boots up
                    h4.subheading First Live
                  .timeline-body
                    p
                      |Descriptions of first live
                      br
                      |messages from roza

    //- Discography Section
    #discography.text-center
      .container
        .section-title.center
          h2 Discography
          hr
          p
            |Also check #[a(href='http://soundcloud.com/6ow3idgirl') SoundCloud] and #[a(href='https://www.youtube.com/channel/UC_vCY6ONyh2STh02OFTdSTA?view_as=subscriber') YouTube] Channel
        .row
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .col-md-4.col-sm-6.skill
            h4 New Released CD-1
            img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')

    //- Live/Media Information section
    #lives
      .container
        .section-tile.text-center.center
          h2 Live/Media
          hr
          p
            |Media information and Live
        .row

    //- Photo section
    #portfolio
      .container
        .section-title.text-center.center
          h2 Gallaries
          hr
          p
            |Photos of 6ow 3id Girl
        .categories
          ul.cat
            li
              ol.type
                li
                  a(href='#' data-filter='*', class='active') All
                li
                  a(href='#' data-filter='.web') Live Shoots
                li
                  a(href='#' data-filter='.app') Personal
                //- li #[a(href='#' data-filter='.branding') Misc]
          .clearfix
        .row
          .portfolio-items
            .col-sm-6.col-md-3.col-lg-3.web
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/01-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Live photo 1
                      small Web design
                    img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.app
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/02-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Off-shot 1
                      small App design
                    img(src='/images/portfolio/02-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.web
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/01-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Live photo 1
                      small Web design
                    img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.web
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/01-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Live photo 1
                      small Web design
                    img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
          .portfolio-items
            .col-sm-6.col-md-3.col-lg-3.app
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/02-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Off-shot 1
                      small App design
                    img(src='/images/portfolio/02-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.web
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/01-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Live photo 1
                      small Web design
                    img(src='/images/portfolio/01-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.app
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/02-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Off-shot 1
                      small App design
                    img(src='/images/portfolio/02-small.jpg', class='img-responsive', alt='project title')
            .col-sm-6.col-md-3.col-lg-3.app
              .portfolio-item
                .hover-bg
                  a(href='/images/portfolio/02-large.jpg', title='Project Titile', rel='prettyPhoto')
                    .hover-text
                      h4 Off-shot 1
                      small App design
                    img(src='/images/portfolio/02-small.jpg', class='img-responsive', alt='project title')

    //- Contact section
    //- TODO: Mail to 6ow3idgirl@gmail.com
    #contact.text-center
      .container
        .section-title.center
          h2 Contact
        
        .col-md-8.col-md-offset-2
          h3 
            |Get tickets from #[a(href='https://forms.gle/qJMCXeGp9dRbS8nE9') Here]

        .col-md-8.col-md-offset-2
          .social
            ul
              li #[a(href='#') #[i.fab.fa-3x.fa-facebook]]
              li #[a(href='https://lin.ee/m30atuE') #[i.fab.fa-3x.fa-line]]
              li #[a(href='https://twitter.com/6ow3idgirl') #[i.fab.fa-3x.fa-twitter]]
              li #[a(href='https://t.co/n3i6Ulx4Gk?amp=1') #[i.fab.fa-3x.fa-instagram]]

        .col-md-8.col-md-offset-2
          h3 Feel free to reach out to me !!
          form(id='contactForm', name='sentMessage', novalidate)
            .row
              .col-md-6
                .form-group
                  input(id='name', class='form-control', type='text', placeholder='YourName', required='required')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  input(id='email', class='form-control', type='email', placeholder='Email', required='required')
                  p.help-block.text-danger
            .form-group
              textarea(id='message', class='form-control', name='message', rows='4', placeholder='Message Here ...', required)
              p.help-block.text-danger
            #success
            button(type='submit', class='btn btn-default') Send Message

    #footer
      .container.text-center
        .fnav
          p
            |Copyright &copy @hwakabh All Rights Reserved
            br
            | Designed by #[a(href='http://www.templatewire.com', rel='nofollow')]templatewire

    //- JavaScripts
    script(type='text/javascript' src='javascripts/jquery.1.11.1.js') 
    script(type='text/javascript' src='javascripts/bootstrap.js') 
    script(type='text/javascript' src='javascripts/SmoothScroll.js') 
    //- script(type='text/javascript' src='javascripts/easypiechart.js') 
    script(type='text/javascript' src='javascripts/jquery.prettyPhoto.js') 
    script(type='text/javascript' src='javascripts/jquery.isotope.js') 
    //- script(type='text/javascript' src='javascripts/jquery.counterup.js') 
    script(type='text/javascript' src='javascripts/waypoints.js') 
    script(type='text/javascript' src='javascripts/jqBootstrapValidation.js') 
    script(type='text/javascript' src='javascripts/contact_me.js') 
    script(type='text/javascript' src='javascripts/main.js')
