extends ./layout

block content
  //- News section
  #lives.text-center
    .container
      .section-tile.center
        h2 News
        hr
      .row
        .col-md-12
          h5
            |2020/04/25 1st single "whack a mole” is released !!
          .top-news
            iframe(width="560", height="315", src='https://www.youtube.com/embed/8mE0SY7WW74?start=1&end=60', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
          p
            |You can check full movies on #[a(href="#portfolio") This Page] or #[a(href="https://youtu.be/8mE0SY7WW74") Official YouTube] !!
            br
            |Download from the link below !!
        .col-md-8.col-md-offset-2
          .social
            ul
              //- TODO: Added href to music download pagess
              //- Spotify, Apple Music, AWA, LINE Music, Amazon Music
              li #[a(href='#') #[i.fab.fa-3x.fa-spotify]]
              li #[a(href='#') #[i.fab.fa-3x.fa-apple]]
              li #[a(href='#') #[i.fab.fa-3x.fa-google]]
        .col-md-12
          p
            |Another apps can be available from #[a(href="https://big-up.style/MJV3uKqegi") BIG UP !!] website.

  //- Discography Section
  #discography.text-center
    .container
      .section-title.center
        h2 Music
        hr
        p
          |Also check #[a(href='http://soundcloud.com/6ow3idgirl') SoundCloud] and #[a(href='https://www.youtube.com/channel/UC_vCY6ONyh2STh02OFTdSTA?view_as=subscriber') Official YouTube Channel] !! 
      .row
        //- TODO: Added href to music download pagess
        //- Spotify, Apple Music, AWA, LINE Music, Amazon Music
        .col-md-4.col-sm-6.skill
          h4 Whack a mole
          img(src='/images/portfolio/01-jacket.jpg', class='img-responsive', alt='project title')
        .col-md-4.col-sm-6.skill
          h4 peko-niko-boo!
          img(src='/images/portfolio/02-jacket.jpg', class='img-responsive', alt='project title')
        .col-md-4.col-sm-6.skill
          h4 Third Release coming soon ... !!
          img(src='/images/coming-soon-lg-rotate.png', class='img-responsive', alt='project title')

  //- Photo section
  #portfolio
    .container
      .section-title.text-center.center
        h2 YouTube
        hr
        p
          |Full YouTube official channel is available #[a(href='https://www.youtube.com/channel/UC_vCY6ONyh2STh02OFTdSTA/featured') Here] !!
      .categories
        ul.cat
          li
            ol.type
              li
                a(href='#' data-filter='*', class='active') All
              li
                a(href='#' data-filter='.web') MVs
              li
                a(href='#' data-filter='.app') Others
        .clearfix
      .row
        .portfolio-items
          //- Replace thumbnails for each movie
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://youtu.be/8mE0SY7WW74', title='Released on 2020/04/25', rel='prettyPhoto')
                  .hover-text
                    h4 Whack a mole
                  img(src='/images/portfolio/01-thumb.jpg', class='img-responsive', alt='Whack a mole')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='https://www.youtube.com/watch?v=g1EETsO1Xx8', title='Released on 2020/05/13', rel='prettyPhoto')
                  .hover-text
                    h4 peko-niko-boo!
                  img(src='/images/portfolio/02-thumb.jpg', class='img-responsive', alt='peko-niko-boo!')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/comming-soon-lg-rotate.png', title='Comming-Soon', rel='prettyPhoto')
                  .hover-text
                    h4 Comming Soon ...!!
                  img(src='/images/coming-soon-lg-rotate.png', class='img-responsive', alt='tbd-next-single-name')

  //- Biography Section
  #biography.text-center
    .container
      .section-titile.center
        h2 Biography
        hr
      .row
        .col-md-12.text-center
          h3 6ow 3id girl (ローミッドガール)
          img(class='img-responsive', src='/images/about.jpg')
        .col-md-8.col-md-offset-2
          .about-text
            p.text-center
              |2020年始動。女性ベースシンガーソングライター。
              br
              |ベーシストであり、シンガーソングライター。
              br
              |アレンジ、ミックス、マスタリング、映像編集等を通じて
              br
              |総合的に世界観を表現する。
              br
              |まだ誰も見たことのない世界へ。
            p.text-center
              |since 2020. Female bass singer-songwriter.
              br
              |She is a bassist and singer-songwriter,
              br
              |and she comprehensively expresses the worldview
              br
              |through arrangement, mixing, mastering, and video editing etc...
              br
              |A new world that you never seen.

  //- //- Shop section
  //- #shop.text-center
  //-   .container
  //-     .section-title.center
  //-       h2 Shop
  //-       hr
      
  //-     .col-md-8.col-md-offset-2
  //-       h3 
  //-         |TBD

  //- Contact section
  //- TODO: Mail to 6ow3idgirl@gmail.com
  #contact.text-center
    .container
      .section-title.center
        h2 Contact
        hr
      
      //- .col-md-8.col-md-offset-2
      //-   h3 
      //-     |Get tickets from #[a(href='https://forms.gle/qJMCXeGp9dRbS8nE9') Here]

      .col-md-8.col-md-offset-2
        .social
          ul
            li #[a(href='#') #[i.fab.fa-3x.fa-facebook]]
            li #[a(href='https://lin.ee/m30atuE') #[i.fab.fa-3x.fa-line]]
            li #[a(href='https://twitter.com/6ow3idgirl') #[i.fab.fa-3x.fa-twitter]]
            li #[a(href='https://t.co/n3i6Ulx4Gk?amp=1') #[i.fab.fa-3x.fa-instagram]]

      .col-md-8.col-md-offset-2
        form(id='contactForm', name='sentMessage', novalidate)
          .row
            .col-md-6
              .form-group
                input(id='name', class='form-control', type='text', placeholder='YourName', required='required')
                p.help-block.text-danger
            .col-md-6
              .form-group
                input(id='email', class='form-control', type='email', placeholder='Email', required='required')
                p.help-block.text-danger
          .form-group
            textarea(id='message', class='form-control', name='message', rows='4', placeholder='Message Here ...', required)
            p.help-block.text-danger
          #success
          button(type='submit', class='btn btn-default') Send Message
