doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= '6ow 3id Girl - Official Homepage'
    meta(name='description', content='6ow 3id Girl')
    meta(name='author', content='@hwakabh')
    //- Favicons
    link(rel='shortcut icon', href='/images/favicons.ico' type='image/x-icon')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    //- Bootstrap
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    //- CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/prettyPhoto.css')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300')
    link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300')
    //- script(type='text/javascript' src='/javascripts/modernizr.custom.js')

  body(id='page-top', data-spy='scroll', data-target='.navbar-fixed-top')
    header(id='header')
      .intro
        .container
          .row
            .intro-text
              h1 #[span.name 6ow 3id Girl]
              p Offical Website #{message}
              a(href='#biography', class='btn btn-default btn-lg page-scroll') View More
          //- Facebook, Twitter, Instagram, Spotify, AppleMusic
            li #[a(href='https://twitter.com/6ow3idgirl', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-twitter]]
            li #[a(href='https://t.co/n3i6Ulx4Gk?amp=1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-instagram]]
            li #[a(href='https://www.facebook.com/6ow3idgirl/', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-facebook]]
            li #[a(href='https://open.spotify.com/artist/42AaWiqlnn1UukyFxTVMmz', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-spotify]]
            li #[a(href='https://music.apple.com/jp/artist/6ow-3id-girl/1506539840', target="_blank", rel="noopener noreferrer") #[i.fab.fa-3x.fa-apple]]

      //- TODO: change navigation menu by main/error pages
      #nav
        nav.navbar.navbar-custom
          .container
            .navbar-header
              button(class='navbar-toggle', type='button', data-toggle='collapse', data-target='.navbar-main-collapse') #[i.fa.fa-bars]
              a(class='navbar-brand page-scroll', href='#page-top') 6ow 3id Girl
              a(class='navbar-brand page-scroll', href='https://twitter.com/6ow3idgirl', target="_blank", rel="noopener noreferrer") #[i.fab.fa-1x.fa-twitter]
              a(class='navbar-brand page-scroll', href='https://t.co/n3i6Ulx4Gk?amp=1', target="_blank", rel="noopener noreferrer") #[i.fab.fa-1x.fa-instagram]
              a(class='navbar-brand page-scroll', href='https://www.facebook.com/6ow3idgirl/', target="_blank", rel="noopener noreferrer") #[i.fab.fa-1x.fa-facebook]
            .collapse.navbar-collapse.navbar-right.navbar-main-collapse
              ul.nav.navbar-nav
                li #[a(class='hidden', href='#page-top')]
                li #[a(class='page-scroll', href='#lives') News]
                li #[a(class='page-scroll', href='#discography') Music]
                li #[a(class='page-scroll', href='#portfolio') YouTube]
                li #[a(class='page-scroll', href='#biography') Biography]
                //- li #[a(class='page-scroll', href='#shop') Shop]
                li #[a(class='page-scroll', href='#contact') Contact]

    block content

    #footer
      .container.text-center
        .fnav
          p
            |Copyright &copy @hwakabh All Rights Reserved
            br
            | Designed by #[a(href='http://www.templatewire.com', rel='nofollow')]templatewire

    //- JavaScripts
    script(type='text/javascript' src='javascripts/jquery.1.11.1.js')
    script(type='text/javascript' src='javascripts/bootstrap.js')
    script(type='text/javascript' src='javascripts/SmoothScroll.js')
    script(type='text/javascript' src='javascripts/jquery.prettyPhoto.js')
    script(type='text/javascript' src='javascripts/jquery.isotope.js')
    script(type='text/javascript' src='javascripts/waypoints.js')
    script(type='text/javascript' src='javascripts/jqBootstrapValidation.js')
    script(type='text/javascript' src='javascripts/contact_me.js')
    script(type='text/javascript' src='javascripts/main.js')
