name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_ship:
    name: Build & Ship OCI image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install pack
        uses: buildpacks/github-actions/setup-pack@v5.6.0

      # need GOOGLE_RUNTIME explicity
      # https://github.com/GoogleCloudPlatform/buildpacks/issues/220#issuecomment-1199867259
      - name: Publish packages
        run: |
          pack build ghcr.io/hwakabh/6ow3idgirl:latest \
            --builder gcr.io/buildpacks/builder:latest \
            --path . \
            --env GOOGLE_RUNTIME=nodejs \
            --publish
